<header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Сменить навигацию</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
            </div>
			
            <div class="collapse navbar-collapse navbar-right" ng-navigation>
                <ul class="nav navbar-nav">
                    <li class="scroll active">
                        <a href="#windows">
                            Установка Windows
                            <br/>
                            <span style="text-decoration: line-through;">
                                <%= @services["windows"].crossed_price %>
                            </span>&nbsp
                            От <%= @services["windows"].price %> р
                        </a>
                    </li>
                    <li class="scroll">
                        <a href="#repair">
                            Ремонт компьютеров
                            <br/>
                            <span style="text-decoration: line-through;">
                                <%= @services["repair"].crossed_price %>
                            </span>&nbsp
                            <%= @services["repair"].price %>
                        </a>
                    </li>
                    <li class="scroll">
                        <a href="#note_repair">
                            Ремонт ноутбуков
                            <br/>
                            <span style="text-decoration: line-through;">
                                <%= @services["note_repair"].crossed_price %>
                            </span>&nbsp
                            <%= @services["note_repair"].price %>
                        </a>
                    </li>
                    <li class="scroll">
                        <a href="#internet">
                            Настройка интернета
                            <br/>
                            <span style="text-decoration: line-through;">
                                <%= @services["internet"].crossed_price %>
                            </span>&nbsp
                            <%= @services["internet"].price %>
                        </a>
                    </li>
                    <li class="scroll">
                        <a href="#wifi">
                            Wi-Fi
                            <br/>
                            <span style="text-decoration: line-through;">
                                <%= @services["wifi"].crossed_price %>
                            </span>&nbsp
                            <%= @services["wifi"].price %>
                        </a>
                    </li>
                    <li class="scroll"><a href="#about">О нас</a></li>
                    <li class="scroll"><a href="#contact">Подать заявку</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
</header><!--/header-->

<section id="windows">
    <%= render partial: 'static_pages/home_service', locals: { service_object: @services["windows"] } %>
</section>

<section id="repair">
    <%= render partial: 'static_pages/home_service', locals: { service_object: @services["repair"] } %>
</section>

<section id="note_repair">
    <%= render partial: 'static_pages/home_service', locals: { service_object: @services["note_repair"] } %>
</section>

<section id="internet">
    <%= render partial: 'static_pages/home_service', locals: { service_object: @services["internet"] } %>
</section>

<section id="wifi">
    <%= render partial: 'static_pages/home_service', locals: { service_object: @services["wifi"] } %>
</section>

<section id="bad_programs">
    <%= render partial: 'static_pages/home_service', locals: { service_object: @services["bad_programs"] } %>
</section>

<section id="antivirus">
    <%= render partial: 'static_pages/home_service', locals: { service_object: @services["antivirus"] } %>
</section>

<section id="about">
    <div class="container">

        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">О нас</h2>
            <p class="text-center wow fadeInDown"><%= @settings.about %></p>
        </div>

    </div>
</section><!--/#about-->

<section id="quality" >
    <div class="container">

        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Профессиональные качества</h2>
        </div>

        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">UX design</h4>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">UI design</h4>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">SEO Services</h4>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-bar-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">iOS App</h4>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-language"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Android App</h4>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-bullseye"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Win App</h4>
                            <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div><!--/.row-->    
    </div><!--/.container-->
</section><!--/#services-->

<section id="work-process">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Как мы работаем</h2>
        </div>

        <div class="row text-center">
            <div class="col-md-2 col-md-4 col-xs-6"></div>
            <div class="col-md-2 col-md-4 col-xs-6">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="icon-circle">
                        <span>1</span>
                        <i class="fa fa-2x"></i>
                    </div>
                    <h3>ЗВОНОК</h3>
                </div>
            </div>
            <div class="col-md-2 col-md-4 col-xs-6">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                    <div class="icon-circle">
                        <span>2</span>
                        <i class="fa fa-2x"></i>
                    </div>
                    <h3>ВЫЕЗД МАСТЕРА</h3>
                </div>
            </div>
            <div class="col-md-2 col-md-4 col-xs-6">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                    <div class="icon-circle">
                        <span>3</span>
                        <i class="fa fa-2x"></i>
                    </div>
                    <h3>РЕМОНТ</h3>
                </div>
            </div>
            <div class="col-md-2 col-md-4 col-xs-6">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                    <div class="icon-circle">
                        <span>4</span>
                        <i class="fa fa-2x"></i>
                    </div>
                    <h3>ДОВОЛЬНЫЙ КЛИЕНТ</h3>
                </div>
            </div>
            <div class="col-md-2 col-md-4 col-xs-6"></div>
        </div>
    </div>
</section><!--/#work-process-->

<section id="contact">
    <div id="google-map" style="height:650px" data-latitude="52.365629" data-longitude="4.871331"></div>
    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <div class="contact-form">
                        <h3>Оформите заявку</h3>

                        <form id="main-contact-form" name="contact-form" method="post" action="#">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Имя" required>
                            </div>
                            <div class="form-group">
                                <input type="phone" name="phone" class="form-control" placeholder="Номер телефона" required>
                            </div>
                            <div class="form-group">
                                <select name="service_id" class="form-control" >
                                    <% @services_array.each do |service| %>
                                        <option value="<% service.id %>"><%= service.name %></option>
                                    <% end %>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Отправить заявку</button>
                        </form>

                        <br>
                        <p>Или позвоните нам по телефону:</p>
                        <p class="phone"><%= @settings.phone %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
      function initMap() {
        var mapDiv = document.getElementById('google-map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 44.540, lng: -78.546},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
</section><!--/#bottom-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2016 <%= @settings.company_name %>. Designed by <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>
            </div>
            <div class="col-sm-6">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->